<div class="container">
  <div class="row">
    <h4 class="form-signin-heading">Login</h4>
    <form class="col s6" (ngSubmit)="login()" #loginForm="ngForm">
      <div class="row">
        <div class="input-field col s6">
          <input id="email" type="email" [(ngModel)]="user.email" name="email" class="validate" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" [(ngModel)]="user.password" name="password" class="validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.form.valid">Sign In</button>
        </div>
        <div class="input-field col s3">
          <a class="btn btn-lg btn-warning btn-block" [routerLink]="['/signup']">Sign Up</a>
        </div>
      </div>
    </form>
  </div>
</div>
