<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="open = !open;" (closed)="open = !open;">
    <mat-list>
      <mat-list-item> Pepper </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-button-toggle class="mat-flat-button" mat-button (click)="sidenav.toggle()">Movies</mat-button-toggle>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
