/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  background: rgba(0, 0, 0, .87);
}

html, body {
  margin: 0;
  background: #eee;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  flex-direction: column;
  display: flex;
}

.mat-grid-tile {
  background: rgba(0, 0, 0, .87);
}

.pink {
  background: #e91e63;
}

.sidenav {
  width: 15%;
  background: rgba(0, 0, 0, .87);
}

.toolbar {
  color: white;
}

.toolbar > mat-button-toggle{
  color: white;
}

.popular-tile {
  /*background: url("assets/img/popular.png");*/
}
